<h2>User info</h2>

<%= attachment_image_tag @user, :profile_image, :fill, 60, 60, fallback: "no_image.jpg"%>

<table class="table">
    <tbody>
        <tr>
            <th>name</th>
            <th><%= user.name %></th>
        </tr>
        <tr>
            <th>introduction</th>
            <th><%= user.introduction %></th>
        </tr>
    </tbody>
</table>
<% if @user.id == current_user.id %>
<%= link_to "User_Edit", edit_user_path(user.id) %>
<% else %>
<%= link_to "User_Edit", user_path(current_user.id) %>
<% end %>

<%= form_for newbook,:url => {controller: "books", action: "create"} do |f| %>
<h2>New book</h2>
<div class="field">
    <label for="">Title</label><br>
    <%= f.text_field :title %>
</div>
<div class="field">
    <label for="">Opinion</label><br>
    <%= f.text_area :body %>
</div>
<%= f.submit "Create Book" %>
<% end %>